# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Android
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/key.properties
**/*.jks

# iOS
ios/Flutter/flutter_export_environment.sh
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# IDE
.idea/
.vscode/
*.swp
.DS_Store
